* {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
header {
  top: 0;
  background-attachment: fixed;
  background-color: #fff;
  height: auto;
  width: 100%;
  display: inline-block;
  z-index: 9;
  position: fixed;
}
header .logo {
  float: left;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
}
header .nav_bar {
  float: right;
  padding: 20px;
}
header a {
  color: black;
  padding: 0 15px;
  letter-spacing: 5px;
}
header a:hover {
  background-color: #ccc;
  padding: 20px 15px;
  letter-spacing: 5px;
}
.macbook {
  background-image: url('https://www.w3schools.com/w3images/mac.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
  padding-top: 50px;
  color: green;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-content: flex-start;
}
.macbook .start {
  padding: 40px;
  line-height: 80px;
  color: #fff;
}
.macbook .start > h1 {
  font-size: 65px;
}
.macbook .start > p {
  font-size: 20px;
}
.macbook .start > a {
  background-color: #ccc;
  padding: 20px;
  font-size: 18px;
  color: black;
}
